
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Shared/_LayoutHome.cshtml";
}

<h2>Chưa có view,gõ thêm /admin sau link trên url rồi ấn đăng nhập, hiện tại chưa có accout, password</h2>


